body {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.TjMdxi89lcvkep23htxTegHaEK%3Fr%3D0%26pid%3DApi&f=1&ipt=64c5cbad4da8424dee4441ee08702467508aec941fd63f88d5b59b890d50be7d&ipo=images);
}

* {
    flex: auto;
    text-align: center;
}

.element{
    background-color: antiquewhite;
}